mixin search-line()
  .b-search-line.iblock&attributes(attributes)
    form(action="#")
      .b-search-line__field
        input.b-search-line__input(type="text")
        label.b-search-line__send
          input.b-search-line__submit(type="submit")

        .b-search-line__placeholder
          .b-search-line__ph-pre Поиск товаров:
          .b-search-line__ph-main например, Розовый iPhone
        .b-search-line__field-drop
          .b-search-line__field-drop-section
            .b-search-line__field-drop-titile Категории
            a.b-search-line__field-drop-item(href=jv0) Карты памяти
            a.b-search-line__field-drop-item(href=jv0) Сменные Картриджы
            a.b-search-line__field-drop-item(href=jv0) Картины настенные
            .b-search-line__field-drop-border
          .b-search-line__field-drop-section
            .b-search-line__field-drop-titile Категории
            a.b-search-line__field-drop-item(href=jv0) Карты памяти
            a.b-search-line__field-drop-item(href=jv0) Сменные Картриджы
            a.b-search-line__field-drop-item(href=jv0) Картины настенные
            .b-search-line__field-drop-border

mixin search-line_thin()
  .b-search-line.iblock&attributes(attributes)
    form(action="#")
      .b-search-line__field
        input.b-search-line__input.b-search-line__input_thin(type="text")
        label.b-search-line__send
          input.b-search-line__submit(type="submit")

        .b-search-line__placeholder.b-search-line__placeholder_thin
          .b-search-line__ph-pre Поиск товаров:
          .b-search-line__ph-main например, Розовый iPhone
        .b-search-line__field-drop
          .b-search-line__field-drop-section
            .b-search-line__field-drop-titile Категории
            a.b-search-line__field-drop-item(href=jv0) Карты памяти
            a.b-search-line__field-drop-item(href=jv0) Сменные Картриджы
            a.b-search-line__field-drop-item(href=jv0) Картины настенные
            .b-search-line__field-drop-border
          .b-search-line__field-drop-section
            .b-search-line__field-drop-titile Категории
            a.b-search-line__field-drop-item(href=jv0) Карты памяти
            a.b-search-line__field-drop-item(href=jv0) Сменные Картриджы
            a.b-search-line__field-drop-item(href=jv0) Картины настенные
            .b-search-line__field-drop-border

mixin search-line_mobile()
  .b-search-line.iblock&attributes(attributes)
    form(action="#")
      .b-search-line__field
        input.b-search-line__input(type="text" placeholder="Поиск товаров")
        label.b-search-line__send
          input.b-search-line__submit(type="submit")
        .b-search-line__field-drop
          .b-search-line__field-drop-section
            .b-search-line__field-drop-titile Категории
            a.b-search-line__field-drop-item(href=jv0) Карты памяти
            a.b-search-line__field-drop-item(href=jv0) Сменные Картриджы
            a.b-search-line__field-drop-item(href=jv0) Картины настенные
            .b-search-line__field-drop-border
          .b-search-line__field-drop-section
            .b-search-line__field-drop-titile Категории
            a.b-search-line__field-drop-item(href=jv0) Карты памяти
            a.b-search-line__field-drop-item(href=jv0) Сменные Картриджы
            a.b-search-line__field-drop-item(href=jv0) Картины настенные
            .b-search-line__field-drop-border
